font-family: "Do Hyeon", sans-serif;
header,
nav,
footer {
  margin-left: 20vh;
  margin-right: 20vh;
}


<tr>
          <td>
            <a href="#"><img src="../free.jpg" alt="1" /></a>
          </td>
          <td>1</td>
        </tr>
        <tr>
          <td>
            <a href="#"><img src="../free.jpg" alt="1" /></a>
          </td>
          <td>1</td>
        </tr>
        <tr>
          <td>
            <a href="#"><img src="../free.jpg" alt="1" /></a>
          </td>
          <td>1</td>
        </tr>
        <tr>
          <td>
            <a href="#"><img src="../free.jpg" alt="1" /></a>
          </td>
          <td>1</td>
        </tr>
        <tr>
          <td>
            <a href="#"><img src="../free.jpg" alt="1" /></a>
          </td>
          <td>1</td>
        </tr>